body {
  margin: 0;
  font-family: Arial;
  background: #0b1220;
  color: white;
  text-align: center;
}

input {
  padding: 10px;
  width: 250px;
  border-radius: 10px;
  border: none;
  margin-bottom: 10px;
}

#tree {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.level {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}

.card {
  width: 160px;
  padding: 12px;
  border-radius: 12px;
  background: rgba(255,255,255,0.08);
  cursor: pointer;
}

.card:hover {
  background: rgba(255,255,255,0.2);
}

#suggestions {
  width: 250px;
  margin: auto;
  background: rgba(255,255,255,0.1);
  border-radius: 10px;
  display: none;
  max-height: 200px;
  overflow-y: auto;
}

.suggestion-item {
  padding: 8px;
  cursor: pointer;
}

.suggestion-item:hover {
  background: rgba(255,255,255,0.2);
}
